form {
  margin: 50px auto auto auto;
  padding: 20px 35px;
  width: 400px;
  border: solid 4px #1949A5;
  border-radius: 10px;;
}

.input {
  margin-bottom: 10px;
}

.input label {
  margin-right: 12px;
  width: 40%;
}

button {
  float: right;
  background-color: #1949A5;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}

.header{
  background-color: #1949A5;
  color: #FFFFFF;
  padding: 16px 10px;
  font-size: 18px;
}
