
<div class="cardContainer" *ngIf="announcement; else noAnnouncement">
  <div class="cardCard">
    <div class="cardHeader">
      {{announcement.author}} - {{announcement.date | date:'EEEE d MMMM YYYY' : '' : 'fr'}}
    </div>
    <div class="cardContent">
      <h2>{{announcement.title}}</h2>
         {{announcement.content}}
    </div>
    <div class="announcementFooter">
      <a href=""> Lire la suite </a>
    </div>
  </div>
</div>

<ng-template #noAnnouncement class="cardContainer">
  <div class="cardCard">
    <div class="cardHeader">
      Aucune annonce!
    </div>
    <div class="cardContent">
      Vous êtes à jour.
    </div>
  </div>
</ng-template>

