.announcementCard {
  background-color: white;
}

.announcementHeader {
  background-color: #1949A5;
  color: white;
  padding: 5px 5px;
}

.announcementContent h2 {
  font-size: 16px;
  margin-top: -5px;
  margin-bottom: -7px;
  color: #193d8f;
}

.announcementContent {
  padding: 10px;
  height: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.announcementFooter {
  text-align: right;
  padding-right: 10px;
  padding-bottom: 10px;
  color: #478bf6;
}
