.en-tete {
  background-color: #1949A5;
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 15px;
  text-align: center;
  font-size: 20px;
  color: white;
}

.container {
  border: 4px solid #1949A5;
  border-radius: 10px;
  background-color: #FFF;
}

.courses {
  font-size: 12px;
}

.no-course{
  background-color: #5D6DB3;
  color: #FFFFFF;
}
