.container {
  display: block;
  border: 1px solid #1949A5;
  border-radius: 10px;
  background-color: #1949A5;
  max-width: 300px;
  left: 40px;
  margin: 10px;
}

h4.title {
  color: white;
  text-align: center;
}
