<div class="cardContainer" *ngIf="notification; else noNotification">
  <div class="notificationCard">
    <div class="notificationHeader">
      {{notification.date | date:'EEEE d MMMM YYYY' : '' : 'fr'}}
    </div>
    <div class="notificationContent">
      {{notification.content}}
    </div>
    <div class="notificationFooter">
      <a href=""> Lire la suite </a>
    </div>
  </div>
</div>

<ng-template #noNotification class="cardContainer">
  <div class="notificationCard">
    <div class="notificationHeader">
      Aucune notification !
    </div>
    <div class="notificationContent">
      Vous êtes à jour.
    </div>
  </div>
</ng-template>
