<div class="cardContainer" *ngIf="notification; else noNotification">
  <div class="notificationCard">
    <div class="notificationHeader">
      <p>
        {{notification.date | date:'EEEE d MMMM YYYY' : '' : 'fr'}}
      </p>
    </div>
    <div class="notificationContent">
      <p>{{notification.content}}</p>
      <a class="notificationFooter" href=""> Lire la suite </a>
    </div>
  </div>
</div>

<ng-template #noNotification class="cardContainer">
  <div class="notificationCard">
    <div class="notificationHeader">
      Aucune notification !
    </div>
    <div class="notificationContent">
      Vous êtes à jour.
    </div>
  </div>
</ng-template>
