.notificationCard {
  background-color: white;
}

.notificationHeader {
  background-color: #1949A5;
  color: white;
  padding: 5px 5px;
}

.notificationContent {
  padding: 10px;
  height: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.notificationFooter {
  text-align: right;
  padding-right: 10px;
  padding-bottom: 10px;
  color: #478bf6;
}
