.notificationHeader {
  background-color: #1949A5;
  color: white;
  padding: 5px 5px;
}

.notificationHeader p {
  margin: 0px 10px;
}

.notificationContent {
  padding: 5px 15px;
  background-color: #FFF;
}

.notificationContent p {
  margin: 5px 10px;
}

.notificationFooter {
  text-align: right;
  padding-right: 10px;
  padding-bottom: 10px;
  color: #478bf6;
}
