<div class="menu">
  <app-navbar></app-navbar>
</div>
<div class="container">
  <div class="row ">
    <div class="col-md-4">
      <div class="box planning">
        <app-courses></app-courses>
      </div>
    </div>

    <div class="col-md-4 mid-col">
      <div class="box">
        <app-announcements></app-announcements>
      </div>
      <div class="box">
        <app-todo-list></app-todo-list>
      </div>

    </div>
    <div class="col-md-4">
      <div class="box notifications">
        <app-notifications></app-notifications>
      </div>
    </div>
  </div>
</div>
