.box {
  display: flex;
  justify-content: space-between;
  margin : 20px;
}

.sous_box {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 578px;
}

.planning {
  width: 27%;
}
.notification {
  width: 27%;
}
