.date {
  border: medium solid #1949A5;
 // border-radius: 10px 10px 0px 0px;
  background-color: #1949A5;
  color: white;
}

.date p {
  margin: 0px 10px;
}

.description {
  border: medium solid #1949A5;
 // border-radius: 0px 0px 10px 10px;
  padding: 10px;
}

.description p {
  margin-bottom: 0;
}

.description label {
  margin-left: 5px;
}

