.date {
  background-color: #1949A5;
  color: white;
  padding: 5px 5px;
}

.date p {
  margin: 0px 10px;
}

.description {
  padding: 10px;
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
}

.description p {
  margin-bottom: 5px;
}

.description label {
  margin-left: 5px;
}

.delete {
  color: #FFFFFF;
  background-color: #777;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
}

