.modal-header {
  color: white;
  background-color: #1949A5;
}

.error {
  color: red;
}

.close {
  color: white;
}

.form-control {
  margin-bottom: 10px;
}

.btn {
  color: white;
  background-color: #1949A5;
}

.btn:hover {
  background-color: #6c90d4;
}
