.contour{
  border: solid 4px rgba(25, 75, 165, 1);
  background-color: #5D6DB3;
  overflow-y:auto;
  border-radius: 10px;
  height: 215px;
}

.heading {
  background-color: #1949A5;
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 15px;
  text-align: center;
  font-size: 20px;
  color: white;
}

.no-announcements {
  color: #FFFFFF;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: #5D6DB3;
}

::-webkit-scrollbar-thumb {
  border: solid transparent;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 0 1px rgb(255, 255, 255), inset 0 0 0 6px rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 0 0 0 1px rgba(223, 235, 255, 0.6), inset 0 0 0 6px rgba(230, 238, 255, 0.6);
}

