.contour{
  border: solid 4px rgba(25, 75, 165, 1);
  background-color: #5D6DB3;
  overflow-y:auto;
  border-radius: 10px;
  height: 220px;
}

.heading {
  background-color: #1949A5;
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 15px;
  text-align: center;
  font-size: 20px;
  color: white;
}

.no-announcements {
  color: #FFFFFF;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}
