.task {
  border: 4px solid #1949A5;
  border-radius: 10px;
  overflow-y:auto;
  background-color: #5D6DB3;
  height: 215px;
}

.en-tete {
  background-color: #1949A5;
  color: white;
  border-radius: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.titre {
  font-size: 20px;
  margin-top: 14px;
}

.ajouter {
  background-color: #FFFFFF;
  color: #1949A5;
  font-size: 20px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-radius: 20px;
  padding: 5px 10px;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: #5D6DB3;
}

::-webkit-scrollbar-thumb {
  border: solid transparent;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 0 1px rgb(255, 255, 255), inset 0 0 0 6px rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 0 0 0 1px rgba(223, 235, 255, 0.6), inset 0 0 0 6px rgba(230, 238, 255, 0.6);
}
