.task {
  border: 4px solid #1949A5;
  border-radius: 10px;
  overflow-y:scroll;
  background-color: #5D6DB3;
  height: 215px;
}

.en-tete {
  background-color: #1949A5;
  color: white;
  border-radius: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;

}

.titre {
  font-size: 20px;
  margin-top: 14px;
}

.ajouter {
  background-color: #FFFFFF;
  color: #1949A5;
  font-size: 20px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-radius: 20px;
  padding: 5px 10px;
}
