.mat-dialog-title{
  color: #3e5fa4;
  text-align: center;
}

.error {
  color: red;
}

.form-control {
  margin-bottom: 10px;
}

.mat-button {
  color: white;
  background-color: #3e5fa4;
}

.mat-dialog-actions {
  display: flex;
  justify-content: space-between;
}

