<div class="en-tete">
  {{today }}
</div>

<mat-list class="container">
  <mat-list-item *ngFor="let course of courses" (click)="onSelect(course);">
    <h3 matLine>{{course.hour}} - {{course.name}} </h3>
    <p matLine>
      <span class="courses" matTooltip="{{course.name}} - {{course.room}} - {{ course.teacher}}" matTooltipShowDelay="100" matTooltipPosition="after"> {{course.room}} - {{course.teacher}} </span>
      <mat-divider>
      </mat-divider>
    </p>
  </mat-list-item>
</mat-list>



