h4 {
  background-color: #1949A5;
  color: #FFFFFF;
  padding: 5px 10px;
  margin-bottom: 0px;
}

.mat-dialog-content {
  margin: 10px 0px;
  padding: 0px 5px;
}

.mat-dialog-content p {
  margin-bottom: 5px;
}

.room {
  margin-top: 5px;
  text-align: right;
}

