.matiere {
  width: 100%;
}

.center {
  margin-left: auto;
  margin-right: auto;
  border: none;
  margin-bottom: 15px;

}

table,th, td {
  border: 1px solid #1D314F;
  margin-left: 5px;
}

table {
  width: 90%;
  overflow-x: auto;
}

// Style du header du tableau (sticky au scroll)
th {
  height: 50px;
  text-align: center;
  background-color: #1949A5;
  color: #FFFFFF;
  font-weight: normal;
  position: sticky;
  top: 0;
}

// Hauteur des cellules des cours
td .grade {
  height: 60px;
  max-width: 20px;
  padding-right: 2px;
}

h3 {
  padding-left: 3%;
}

// Scrollbar qui apparaît au besoin
.wrapper{
  height: 550px;
  overflow-y:auto;
  margin-top: 1rem;
}

.vide {
  border: none;
}

.moy {
  background-color: #5D6DB3;
  width: 10rem;
  color: white;
  font-size: 12px;
  font-family:Arial Arial Narrow, Arial, sans-serif;
  vertical-align:bottom;
  text-align:right;
}

.moyG {
  vertical-align:bottom;
  text-align:left;
  font-weight: bold;
  font-size: 12px;
}

.moyGNum {
  text-align:right;
  font-weight: bold;
  font-size: 12px;
}

.grade {
  vertical-align:bottom;
  text-align:right;
}

.grade p .coef {
  font-style: italic;
  font-size: 10px;
  margin: 0;
  padding: 0;
}


.grade b {
  font-family: Arial Narrow,Arial,sans-serif;

}

.coef {
  font-style: italic;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

.type {
  vertical-align:top;
  text-align:left;
  font-family: Arial Narrow, Arial, sans-serif;
  font-size: 12px;
}


.UE {
  height: 10px;
}

.courseName {
  font-family: Arial Bold, Arial, sans-serif;
  vertical-align:top;
  text-align:left;
  font-size: 12px;
}

.teacher {
  font-family: Arial Narrow, Arial, sans-serif;
}
