<h3>Relevé de notes de ELEVE</h3>
<mat-tab-group animationDuration="0ms">
  <mat-tab label="Semestre 1">
    <div class="wrapper">
    <table class="center">
      <tr>
        <th>Matières</th>
        <th scope="col">Moyenne</th>
        <th colspan="6">Notes détaillées</th>
      </tr>
      <tr><td colspan="8" class="UE"><b>UE 25 Informatique avancée</b></td></tr>
      <tr *ngFor="let grade of grades">
        <td>{{grade.class}}</td>
        <td class="moy">Moyenne matière</td>
        <td class="grade">55577855</td>
        <td class="grade">55577855</td>
        <td class="grade">55577855</td>
        <td class="grade">55577855</td>
        <td class="grade">55577855</td>
        <td class="grade"><p class="type">{{grade.type}}</p><p class="coef">Coef. {{grade.coef | number:'1.2'}}</p><b>{{grade.grade | number:'1.2': 'fr'}}</b></td>
      </tr>
      <tfoot>
      <tr>
        <td class="vide"></td>
        <td class="moyG">MOYENNE GENERALE</td>
      </tr>
      </tfoot>
    </table>

    </div>
  </mat-tab>
  <mat-tab label="Semestre 2">Content 2</mat-tab>
  <mat-tab label="Semestre 3">Content 3</mat-tab>
</mat-tab-group>
