.taskHeader {
  background-color: #1949A5;
  color: white;
  padding: 5px 5px;
}

.taskHeader p {
  margin: 0px 10px;
}

.taskContent {
  padding: 5px 15px;
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskContent h2 {
  font-size: 16px;
  margin-bottom: -7px;
  color: #193d8f;
}

.taskContent p {
  margin-bottom: 5px;
}

.taskContent label {
  margin-left: 5px;
}

.delete {
  color: #FFFFFF;
  background-color: #4f5972;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
}

