.contour{
  border: solid 3px rgba(25, 75, 165, 1);
  max-width: 550px;
  background-color: rgba(93, 109, 141, 1);
  overflow-y:auto;
  height: 500px ;
  border-radius: 10px;
}

::-webkit-scrollbar {									/* Scrollbars */
  width: 15px;
  background-color: rgba(93, 109, 141, 1);
}

::-webkit-scrollbar-thumb {								/* Barre */
  border: solid transparent;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(25, 75, 165, 1), inset 0 0 0 6px rgba(25, 75, 165, 1);
}
::-webkit-scrollbar-thumb:hover {						/* Barre */
  -webkit-box-shadow: inset 0 0 0 1px rgba(25, 75, 165, 0.6), inset 0 0 0 6px rgba(25, 75, 165, 0.6);
}
